.game{
    height: 80vh;
    width: 100vw;
}

.game-logo, .fifo-queue, .lifo-stack, .play-area {
    display: inline-block;
}

.game-top, .game-bottom{
    display: flex;
    display: flex;
}

.game-top{
    width: 100%;
}

.game-bottom{
    height:100%;
}

.game-logo, .lifo-stack {
    width: 200px;
}

.game-logo, .fifo-queue {
    height: 56px;
}

.fifo-queue, .play-area {
    flex-grow: 1;
}

.fifo-queue{
    background-color: #ffdad2;
}

.lifo-stack {
    background-color:#e0e6e1; 
    display: flex;
    flex-direction: column-reverse;
}

.play-area {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.play-area-top {
    flex-grow: 1;
    display: flex;
}

.play-area-bottom{
    height: 100px;
}

.question-area, .response-area {
    width: 50%;
    padding: 10px;
}

.question-area, .response-area{
    display: flex;
    flex-direction: column;
}

.question-text{
    padding: 20px 0;
}

.question-code {
   flex-grow: 1;
   position: relative;
}

.answer-area{
    height: 50%;
}

.full-textarea {
    height: 100%;
    width: 100%;
}

.play-area-button {
    width: 50%;
    height: 100%;
    font-size: 32px;
    background-color: #e6c078;
    border: none;
    cursor: pointer;
}

.correct-button {
    background-color: #338ca0;
}

.incorrect-button{
    background-color: #F24738;
}

.play-area-button:hover{
    opacity: 0.8;
}

.full-width{
    width: 100%;
}