.textareas {
    display: inline-block;
    width: 80%;
}

.controls{
    display: inline-block;
    width: 20%;    
}

.question-textarea {
    width: 32%;
    height: 200px;
}

.question-setting {
    display: block;
}

.editing {
    background-color: #e6c078;
}

.edit-row {
    padding: 5px 10px;
}