.textareas {
    display: inline-block;
    width: 80%;
}

.controls{
    display: inline-block;
    width: 20%;    
}

textarea {
    width: 30%;
    height: 200px;
}

.editing {
    background-color: #e6c078;
}

.edit-row {
    padding: 5px 10px;
}